<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="fan" class="cn.jjz.spring731_4Aop.FanDaoImp"></bean>
    <bean id="aopadvice" class="cn.jjz.spring731_4Aop.AopAdvice"></bean>
    <bean id="before" class="org.springframework.aop.support.NameMatchMethodPointcutAdvisor">
        <property name="advice" ref="aopadvice"></property>
        <property name="mappedNames" value="A"></property>
    </bean>
    <bean id="proxy" class="org.springframework.aop.framework.ProxyFactoryBean">
        <property name="target" ref="fan"></property>
        <property name="interceptorNames" value="before"></property>
    </bean>

</beans>