<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context ="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
         http://www.springframework.org/schema/aop
       http://www.springframework.org/schema/aop/spring-aop.xsd
        http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/tx
       http://www.springframework.org/schema/tx/spring-tx.xsd
">
    <context:property-placeholder location="jdbc.properties"></context:property-placeholder>

    <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
    <property name="driverClassName" value="com.mysql.jdbc.Driver"></property>
    <property name="url" value="jdbc:mysql://localhost:3306/gupiao?ampcharacterEncoding=utf-8" />
    <property name="username" value="root" />
    <property name="password" value=""/>
    </bean>

    <bean id="accountDao" class="cn.jjz.spring804_1.dao.AccountDAOImpl">
      <property name="dataSource" ref="dataSource"></property>
    </bean>
    <bean id="stockDAO" class="cn.jjz.spring804_1.dao.StockDAOImpl">
        <property name="dataSource" ref="dataSource"></property>
    </bean>
   <bean id="accService" class="cn.jjz.spring804_1.service.AccountServiceImpl">
      <property name="accountDAO" ref="accountDao"></property>
       <property name="stockDAO" ref="stockDAO"></property>
   </bean>
    <!--事务管理器 -->
    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource"></property>
    </bean>
    <!--&lt;!&ndash;事务代理工厂 &ndash;&gt;
    <bean id="tpfb" class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">
        &lt;!&ndash;引用事务管理器&ndash;&gt;
        <property name="transactionManager" ref="transactionManager"></property>
        &lt;!&ndash;目标对象&ndash;&gt;
        <property name="target" ref="accService"></property>
        &lt;!&ndash;增强&ndash;&gt;
        <property name="transactionAttributes">
            <props>
                <prop key="add*">ISOLATION_DEFAULT,PROPAGATION_REQUIRED</prop>
                <prop key="buy*">ISOLATION_DEFAULT,PROPAGATION_REQUIRED,-StockException</prop>
            </props>
        </property>
    </bean>-->


    <tx:annotation-driven transaction-manager="transactionManager"></tx:annotation-driven>
</beans>