<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
      http://www.springframework.org/schema/aop
       http://www.springframework.org/schema/aop/spring-aop.xsd
">
    <bean class="cn.jjz.spring729_1.dao.StuDaoImpl" id="studao"></bean>
    <bean id="stuservice" class="cn.jjz.spring729_1.service.StuServiceImpl">
        <property name="dao" ref="studao"></property>
    </bean>
    <bean class="cn.jjz.spring729_1.aop.AdvisAop" id="advisaop"></bean>
    <aop:config>
        <aop:pointcut id="a" expression="execution(public void SavaStu(cn.jjz.spring729_1.entity.Student))"></aop:pointcut>
        <aop:advisor advice-ref="advisaop" pointcut-ref="a" ></aop:advisor>
    </aop:config>


</beans>