<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd
">
    <bean id="car" class="cn.jjz.service.Car">
        <property name="cole" value="红"></property>
    </bean>
     <bean id="dog" class="cn.jjz.spring730_1.service.DogService">
         <constructor-arg name="name" value="xx"></constructor-arg>
      <constructor-arg name="age" value="1"></constructor-arg>
      <constructor-arg name="car" ref="car"></constructor-arg>
     </bean>

    <context:component-scan base-package="cn.jjz.spring730_1"></context:component-scan>

</beans>